<!DOCTYPE html>
<html lang="en" data-theme="light" style="line-height: 1rem;">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	</head>
  <body class="flex flex-col h-screen" style="margin: 0;">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <main id="root" class="grow flex flex-col"><span style="display: block; line-height: 1rem; margin-top: 2px;">🚀</span></div>
    <span style="display: none;"><%= VERSION %></span>
    <span style="display: none;"><%= VERSION_HASH %></span>
	</body>
</html>
